<form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="form-signin">

      <div class="text-center mb-4">
        <img class="mb-4" src="/assets/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Admin</h1>
      </div>


      <div class="form-label-group">
        <input type="email" class="form-control" placeholder="E-mail" formControlName="email" id="email" autofocus/>
        <label for="email">E-mail</label>
      </div>

      <div class="form-label-group">
        <input type="password" class="form-control" placeholder="Senha" formControlName="password" id="email"/>
        <label for="password">Senha</label>
      </div>

      <button type="submit" class="btn btn-primary">Login</button>

      <hr class="mb"/>

      <p>
        <a href="/signup">Criar conta</a>
      </p>

</form>
