<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="form-signin">

  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Atualizar Conta</h1>
  </div>

  <div class="form-label-group">
    <input type="text" class="form-control" placeholder="Nome" formControlName="name" id="name" autofocus/>
    <label for="name">Nome</label>
  </div>

  <div class="form-label-group">
    <input type="email" class="form-control" placeholder="E-mail" formControlName="email" id="email" readonly/>
    <label for="email">E-mail</label>
  </div>

  <div class="form-label-group">
    <input type="text" [mask]="ngxMask.brCelular" class="form-control" placeholder="Celular" [formControl]="profileForm.controls['mobile_phone']" id="mobile_phone"/>
    <label for="mobile_phone">Celular</label>
  </div>

  <div class="form-label-group">
    <input type="password" class="form-control" placeholder="Senha" formControlName="password" id="email"/>
    <label for="password">Senha</label>
  </div>

  <div class="form-label-group">
    <input type="password" class="form-control" placeholder="Confirmação de Senha" formControlName="password_confirm" id="password_confirm"/>
    <label for="password_confirm">Confirmação de Senha</label>
  </div>

  <button type="submit" class="btn btn-success">Salvar</button>

</form>
